@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-size: 12px;
}

body {
  margin: 0 auto;
  font-size: 1.15rem;
  font-family: "Mulish", sans-serif;
}

.Header__brand {
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 0.5rem;
}

.Header__logo {
  width: 5rem;
}

@media (max-width: 600px) {
  .Header__logo {
    display: none;
  }
}

@media (max-width: 420px) {
  .Header__brand {
    font-size: 1.1rem;
  }
}
